.post-op {
    border: 1px solid #343a40;
    padding: 20px;
    background: #06799F;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 50px; 
}

.list {
    padding: 0;
}

ul li {  
    list-style-type: none;
    display: inline;
}

.main-ul {
    padding: 0px;
}

Button a, Button a:hover {
    color: white !important;
}

.center {
    margin: auto;
    
}

.center Button {
    width: 300px;
}